// app global css in SCSS form


.q-toolbar,
.q-btn,
h1,
h2,
h3,
h4,
h5,
.text-h5,
h6 {
  font-family: program, sans-serif;
  font-weight: 700;
  font-style: normal;
}
//mobile styles
@media (max-width: 768px) {
  h2 {
    font-size: 2.5em;
  }
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  line-height: 3.5rem;

}
@media (max-width: 768px) {
  h1 {
    font-size: 4.5em;
    line-height: 3.5rem;

    //letter-spacing when on a new line

  }
}

h2 {
  font-size: 3rem;
  line-height: 3rem;

}

.q-tab__label {
  font-family: program, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.q-footer {
  height: 30px;
}

p {
  font-family: program, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

.q-header {
  .q-toolbar,
  .q-item-section,
  .q-item,
  .q-tabs {
    min-height: 55px;
    font-family: program, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .q-toolbar__title {
    font-size: 28px;
  }
}
.q-field--focused,
.q-field--highlighted,
.q-field--filled {
  background-color: transparent;
}
.q-footer {
  height: auto;
 

}





.q-toolbar .q-icon {
  font-size: 40px;
}



  li {
    display: inline-block;
    font-size: 1em;
    line-height: 2em;
    list-style-type: none;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  li span {
    display: block;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
  }

  .expired {
    padding: 5px 20px 15px;
    line-height: 1em;
    font-size: 2em;
  }

  @media all and (max-width: 768px) {
    li {
      padding: 8px;
    }
  }

.drawer-open .q-icon {
  transform: rotate(45deg);
}


.q-page-container {
  background-image: url("../images/heckin-bg.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: $info;
  height: 450px;
}

.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity: 0.8;
}

.jumbotron .container {
  z-index: 2;
  position: relative;
}


   

      
    
